.App{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to right, rgb(255, 207, 183), rgb(247, 207, 200));
    margin-top: 0;
}



.counter{
    height: 15vh;
}

.tick{
    height: 30px;
}